@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0f172a; /* slate-900 */
  touch-action: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Prevent text selection during frantic gameplay */
.no-select {
  user-select: none;
  -webkit-user-select: none;
}